
  body {background-color:#FFE3E3;
        margin: 0;
        font-family: monospace;
      }


  p{font-family: 'merriweather', serif;
    font-size: 20px;}





h1{margin-top: 0;
font-family: 'Sacramento', cursive;
font-size: 45px;}



.learn{padding: 20px;
       margin: 20px;
       background-color:#FFADAD;
       border-radius: 20px;
       border: solid pink 10px;}

.design{font-family: 'Sacramento', cursive;
        font-style: italic;
      font-size: 25px;}
  .profile{display: inline;}


.image1{border-radius: 100px;
       padding-top: 30px;
     }
.image2{border-radius: 40px;
       margin: 0 auto auto 100px;
       padding:0;
       float: left;}

.skills{
        border-radius: 10px;
      margin:10px;


    }
.skill-row{
  border-radius: 10px;
  margin:10px;
  }

  .middle-container{border-radius: 10px;
  margin:10px;
  display: block;}


.profile{
  border-radius: 10px;
  margin:10px;}

  .contact-me{
    border-radius: 10px;
    margin:10px;

    }
  .bottom-container{
    border-radius: 10px;
    margin:10px;
    }

  .copy{font-family: 'Sacramento', cursive;
  font-size: 20px;}

  hr{border-style:none;
        border-top-style:dotted;
    width: 10%;
      border-width:5px;

  }
